extends template/main

block variables
	- var title = 'Главная страница'

block content
	.container-left
		.container-left__main-text
			p.container-left__main-text_white Welcome to The MindTrap
			p.container-left__main-text_transparent Mediterranean Cosmos!
		.container-left__slogan The goal? To escape. How?Assemble your team, book the escape room you like, come to play and escape!
		.button Book now
	.container-right
		.container-right__img
		.container-right__subscribes
			.container-right__subscribes__facebook
			.container-right__subscribes__twitter
			.container-right__subscribes__instagram
			.container-right__subscribes__yep