@font-face {
	font-family: 'Work Sans black';
	src: url('/dev/static/fonts/WorkSans/Worksansblack.woff') format("woff"),
		url('/dev/static/fonts/WorkSans/Worksansblack.woff2') format("woff2");
	font-style: normal;
	font-weight: normal;
}